//COLORS
$color-green-primary: #036746;
$color-green-secondary: #13bb7b;
$color-green-tertiary: #26e68a;
$color-green-quaternary: #1c5860;
$color-green-quinary: #064042;
$color-green-senary: #abfed6;
$color-brown-primary: #d39578;
$color-brown-secondary: #eeceb5;
$color-moonstone: #bbf0f4;
$color-white-primary: #ecf6f9;
$color-blue-primary: #3b00db;

//FONTS
$font-family: "Roboto", sans-serif;
$heading-primary-font: 5rem;
$heading-secondary-font: 2.6rem;
$heading-tertiary-font: 2.2rem;
$font-size-primary: 2.6rem;
$font-size-secondary: 2rem;
$font-size-tertiary: 1.8rem;
